server:
  port: 8761

eureka:
  instance:
    hostname: localhost
  client:
    #客户端不注册自己
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

spring:
  application:
    name: eurka-server


